<!-- This code is for common header and footer -->
<html>
    <head>
        <title>Library App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
        <header class="bg-primary text-center py-3">
            <h1>Library App</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="mt-4">

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>